
a(href='/admin') Admin
|
| <br/>
a(class='button' href='/area') Area
|
|<br/>
a(class='button', href='/category-list') Category
|
|<br/>
a(href='/area') Area 
|
|<br/>
a(href='/booking') Booking
|
|<br/>
a(href='/city') City List
|
|<br/>
a(href='/faq') Faq List
|
|<br/>
a(href='/users') Users List
|
| <br/>
a(href='/addarea') addarea
|
| <br/>
